name: Test and clippy SP1 Cluster

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    uses: ./.github/workflows/test-zkvm.yml
    permissions:
      contents: read
      packages: write
    with:
      zkvm: sp1-cluster
      toolchain: 1.88.0
